@font-face {
  font-family: "Village";
  src: url("\Village.woff2") format("woff2"),
    url("\Village.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Note";
  src: url("ComicNoteSmooth.woff2") format("woff2"),
    url("ComicNoteSmooth.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EvilSporkGirl";
  src: url("EvilSporkGirl.woff2") format("woff2"),
    url("EvilSporkGirl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-SemiBold.woff2") format("woff2"),
    url("Aileron-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-UltraLight.woff2") format("woff2"),
    url("Aileron-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-UltraLightItalic.woff2") format("woff2"),
    url("Aileron-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Heavy.woff2") format("woff2"),
    url("Aileron-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-HeavyItalic.woff2") format("woff2"),
    url("Aileron-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Italic.woff2") format("woff2"),
    url("Aileron-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Bold.woff2") format("woff2"),
    url("Aileron-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-LightItalic.woff2") format("woff2"),
    url("Aileron-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-BoldItalic.woff2") format("woff2"),
    url("Aileron-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Black.woff2") format("woff2"),
    url("Aileron-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Regular.woff2") format("woff2"),
    url("Aileron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Light.woff2") format("woff2"),
    url("Aileron-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-SemiBoldItalic.woff2") format("woff2"),
    url("Aileron-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-BlackItalic.woff2") format("woff2"),
    url("Aileron-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-ThinItalic.woff2") format("woff2"),
    url("Aileron-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("Aileron-Thin.woff2") format("woff2"),
    url("Aileron-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


:root {
    --manatee: #8e9aafff;
    --languid-lavender: #cbc0d3ff;
    --pale-pink: #efd3d7ff;
    --pale-purple-pantone: #feeafaff;
    --lavender-web: #dee2ffff;

    --prussian-blue: #13293dff;
    --sapphire-blue: #006494ff;
    --celadon-blue: #247ba0ff;
    --carolina-blue: #1b98e0ff;
    --azure-x-11-web-color: #e8f1f2ff;

    --pink-lace: #f0d3f7ff;
    --opera-mauve: #b98ea7ff;
    --english-lavender: #a57982ff;
    --space-cadet: #302f4dff;
    --russian-violet: #120d31ff;
}
    

* {
  font-family: 'Raleway', sans-serif;
  color: var(--opera-mauve);
}

h1, h2 {
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal !important;
  
}

body {
  background: var(--russian-violet);
}

/* GENERAL */

.jumbotron {
  background: transparent;
}



/* h1, .btn { font-family: 'EvilSporkGirl';} */

/* CONTENT SECTION */

/* Hero */
.l-hero, .r-hero {
  max-width: 100vw;
}

.l-hero__img-inner, .r-hero__img-inner {
  height: auto;
  width: 100%;
}

.l-hero__pulled-inner, .r-hero__pulled-inner {
  margin: 0 5%;
  padding: 10%;
  background: var(--space-cadet);
  transform: translateY(-20%);
}

@media (min-width: 700px) {
  .l-hero, .r-hero {
    height: 56.25vw;
    position: relative;
  }

  .l-hero__img, .r-hero__img {
    /* height: 100%; */
    width: 75%;
    /* border: 2vw solid #fff; */
    margin: 1vw;
    overflow: hidden;
  }

  .r-hero__img {
    margin-left: 25%;
  }

  .l-hero__img img, .r-hero__img img {
    border-radius: .3rem;
  }

  .l-hero__img-inner, .r-hero__img-inner {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .l-hero__pulled, .r-hero__pulled {
    height: 100%;
    width: 38.5416666667%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  .r-hero__pulled {
      left: 0;
  }

  .l-hero__pulled-inner, .r-hero__pulled-inner {
    width: 100%;
    margin: 0;
    padding: 20%;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .l-hero--left .l-hero__img, .r-hero--left .r-hero__img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .l-hero--left .l-hero__pulled, .r-hero--left .r-hero__pulled {
    left: 0;
    right: auto;
  }

}

/* Card */

.l-hero__pulled-inner, .r-hero__pulled-inner {
    border-radius: .3rem;
}

.c-card > *:first-child {
  margin-top: 0;
}

.c-card > *:last-child {
  margin-bottom: 0;
}

.c-card__subtitle {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: normal;
}

.c-card__title {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
}




@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

.cardzz html, .cardzz body {
  height: 100%;
}

.cardzz body {
  display: grid;
  place-items: center;
}

.cardzz .page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .cardzz .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .cardzz .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cardzz .page-content .zcard {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .cardzz .page-content .zcard {
    height: 350px;
  }
}
.cardzz .page-content .zcard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  /* background-size: cover; */
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.cardzz .page-content .zcard:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.cardzz .page-content .zcard:nth-child(1):before {
  background-image: url(/img/psc-card.jpg);
}
.cardzz .page-content .zcard:nth-child(2):before {
  background-image: url(/img/ing-card.jpg);
}
.cardzz .page-content .zcard:nth-child(3):before {
  background-image: url(/img/sbm-card.jpg);
}
.cardzz .page-content .zcard:nth-child(4):before {
  background-image: url(/img/uciac-card.jpg);
}
.cardzz .page-content .zcard:nth-child(5):before {
  background-image: url(/img/lf-card.jpg);
}
.cardzz .page-content .zcard:nth-child(6):before {
  background-image: url(/img/mtn-card.jpg);
}
.cardzz .page-content .zcard:nth-child(7):before {
  background-image: url(/img/shopmtn-card.jpg);
}
.cardzz .page-content .zcard:nth-child(8):before {
  background-image: url(/img/bsl-card.jpg);
}
.cardzz .page-content .zcard:nth-child(9):before {
  background-image: url(/img/aoo-card.jpg);
}
.cardzz .page-content .zcard:nth-child(9):before {
  background-image: url(/img/girl-meets-medicine-card.jpg);
}
.cardzz .page-content .zcard:nth-child(10):before {
  background-image: url(/img/wvc-card.jpg);
}
.cardzz .page-content .zcard:nth-child(11):before {
  background-image: url(/img/obskure-card.jpg);
}

.cardzz .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.cardzz .content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.cardzz .ztitle {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.cardzz .zcopy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.cardzz .zbtn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.cardzz .zbtn:hover {
  background-color: #0d0d0d;
}
.cardzz .zbtn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .cardzz .page-content .zcard:after {
    transform: translateY(0);
  }

  .cardzz .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .cardzz .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .cardzz .page-content .zcard:hover,
.cardzz .page-content .zcard:focus-within {
    align-items: center;
  }
  .cardzz .page-content .zcard:hover:before,
.cardzz .page-content .zcard:focus-within:before {
    transform: translateY(-4%);
  }
  .cardzz .page-content .zcard:hover:after,
.cardzz .page-content .zcard:focus-within:after {
    transform: translateY(-50%);
  }
  .cardzz .page-content .zcard:hover .content,
.cardzz .page-content .zcard:focus-within .content {
    transform: translateY(0);
  }
  .cardzz .page-content .zcard:hover .content > *:not(.title),
.cardzz .page-content .zcard:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .cardzz .page-content .zcard:focus-within:before, .page-content .zcard:focus-within:after,
.cardzz .page-content .zcard:focus-within .content,
.cardzz .page-content .zcard:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}








body .footer {
  z-index: 1;
  --footer-background:#ED5565;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}